<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343802796005-r13n07g6o0ble6qv1uhgnfueq68iasc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343802796005-r13n07g6o0ble6qv1uhgnfueq68iasc1</string>
	<key>API_KEY</key>
	<string>AIzaSyAzHL9UOrC5nFYWAeYFN48Mr3ylaA1jcqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>343802796005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anandkulkarni147.budgettrackerapp</string>
	<key>PROJECT_ID</key>
	<string>budget-tracker-471f4</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-tracker-471f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343802796005:ios:2c18fe08ffa59e65d9010c</string>
	<key>DATABASE_URL</key>
	<string>https://budget-tracker-471f4-default-rtdb.firebaseio.com</string>
</dict>
</plist>